<%- include('header', { title: 'Form' }) -%>

<div class="grid">
  <div class="row">
    <div class="col col-1"></div>
    <div class="col col-9">
      <h1>Viðburða umsjón</h1>
      <h2>Viðburðir á næstunni</h2>

      <ul>
        <!-- útbúa loopu sem sýnir alla viðburði og lýsingar, og uppfæra viðburði-->
      </ul>

      <ul>
        <li class="event">
          <a href="#">Forritarahittingur í febrúar</a>
          <h3>Forritarar hittast í febrúar og forrita saman eitthvað frábært.</h3>
          <a href="#">Uppfæra viðburð</a>
        </li>
        <li class="event">
          <a href="#">Hönnuðahittingur í mars</a>
          <h3>Spennandi hittingur hönnuða í Hönnunarmars.</h3>
          <a href="#">Uppfæra viðburð</a>
        </li>
        <li class="event">
          <a href="#">Verkefnastjórahittingur í apríl</a>
          <h3>Virkilega vel verkefnastýrður hittingur.</h3>
          <a href="#">Uppfæra viðburð</a>
        </li>
      </ul>

      <form method="post" action="/" enctype="application/x-www-form-urlencoded">
        <legend>Nýr viðburður</legend>
        <div class="field">
          <label for="name">Nafn*:</label>
            <input type="text" id="name" name="name" value="<%= data.title %>" class="">
        </div>

        <div class="field">
          <label for="event">Lýsing*:</label>
            <textarea type="text" name="event" value="<%= data.event %>" class=""></textarea>
        </div>
        <button>Skrá viðburð</button>
      </form>
      <hr>
      <p>Innskráður sem: <strong>admin</strong></p>
      <a href="#">Útskrá</a>
      <div class="col col-2"></div>
    </div>
  </div>
</div>

<%- include('footer') -%>
