<%- include('header', { title: 'Form' }) -%>

<h1> TEST.EJS </h1>

<form method="post" action="/post" enctype="application/x-www-form-urlencoded">
  <button>senda</button>
</form>


<%- include('footer') -%>
