* {
  box-sizing: border-box;
  font-family: $--fonts;
}

body {
  background-color: $white;
}

a {
  color: $--color-accent-dark;
  font-size: 2rem;
}

h1 {
  font-size: 3.5rem;
}
h2 {
  font-size: 2.5rem;
  margin-top: 1rem;
}
h3 {
  font-size: 2rem;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

form {
  display: block;
  font-size: 1.5rem;
  margin-top: 2rem;
}

label {
  display: inline-block;
}

legend {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

input {
  display: inline-block;
  position: relative;
}

textarea {
  width: 70%;
  height: 30%;
}

input,
textarea {
  border: 1.5px solid;
  border-radius: 5px;
  border-color: $--color-accent;
  font-size: 1.5rem;
  position: relative;
  width: 70%;
}

button {
  background-color: $--color-accent-light;
  border-radius: 7px;
  border: 1px solid transparent;
  font-size: 1.5rem;
  padding: 5px 0;
  margin-bottom: 2rem;
  width: 60%;
}

hr {
  background-color: $--color-accent-dark;
  height: 3px;
}

ul {
  padding: 0;
}

.event {
  list-style-position: outside;
  margin-bottom: 1.5rem;
}

.field {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}

.grid {
  margin-top: 2em;
}
